.status {
    margin-top: 6%;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.box-tic-tac {
    float: left;
    font-size: 8vmin;
    font-weight: bold;
    line-height: 3%;
    height: 8.9vmin;
    margin-right: -0.1%;
    margin-top: -0.1%;
    padding: 0;
    text-align: center;
    width: 8.9vmin;
    color: white;
    background: transparent;
}

.kbd-navigation .box:focus {
    background: #ddd;
}

.blackboard {
    height: 100%;
    width: 100%;
    background: black;
    border: 10px solid #5b3a29;
}

.tic-tac-buttons {
    margin-top: 2%;
    margin-bottom: 5%;
}

.body-tic-tac {
    color: white;
    margin-left: 37%;
    margin-top: 10.5%;
    font-family: "Comic Sans MS";
}

.pagetitle-tic-tac {
    margin-top: 2%;
    margin-left: 35%;
    color: white;
    font-family: "Comic Sans MS";
}

.square-number input{
    background: transparent;
    color: white;
    margin-left: 17%;
    width: 2%;
    border-top: black;
    border-left: black;
    border-right: black;
    outline: none;
}
.square-number {
    margin-left: 0%;
}

.personal-outline-danger {
    color: red;
    background: transparent;
    border: 0.1em solid red;
}

.personal-outline-primary {
    color: #157DEC;
    background: transparent;
    border: 0.1em solid #157DEC;
}

.personal-outline-danger:hover {
    color: red;
}

.personal-outline-primary:hover {
    color: #157DEC;
}

.box-tic-tac:focus {
    outline: none;
    border-style: outset;
}

.container{
    margin-top: 2%;
}