.btn-circle {
    border-radius: 25%;
}

.box-connect-four {
    border: 0.1em solid darkblue;
    float: left;
    font-size: 7vmin;
    font-weight: bold;
    line-height: 3%;
    height: 9vmin;
    margin-right: -0.1%;
    margin-top: -0.1%;
    padding: 0;
    text-align: center;
    width: 8.9vmin;
    background: transparent;

}

.box-connect-four:focus {
    outline: none;
}

.kbd-navigation .box-connect-four:focus {
    background: #ddd;
}

.body-connect-four {
    margin-left: 30%;
}

.page-title-connect-four {
    margin-left: 37%;
}

.btn-group-nextprevious {
    margin-left: 34%;
}